:root {
    --primario: #7a7a7a;
    --secundario: #e5e5e5;
    --tercero: #e1e1e1;
    --negro: #000000;
    --blanco: #FFFFFF;
}

html {
    font-size: 62.5%; /* Sirve para que la fuente se "normalice"*/
    box-sizing: border-box; /*Sirve para que no afecte el padding y todo tenga su tamaño correcto */
    scroll-snap-type: y mandatory;
}

*, *:before, *:after { 
    box-sizing: inherit; /*Sirve para que no afecte el padding y todo tenga su tamaño correcto */
  }

/* Globales*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--primario);
    line-height: 1.5;
    margin: 10px;
    padding: 0;
}

.linea-divisoria {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}

/*Encabezado*/

.contenedor {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contenedor-encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    width: 30%;
}

.contenedor-encabezado-a {
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 1.5rem;
    width: 80%;
}

.contenedor-encabezado p {
    font-size: 2rem;
}

.iconperson {
    border-radius: 50%;
    max-width: 20%;
}

.registro {
    background-color: var(--secundario);
    width: 25rem;
    border: 2px var(--secundario) solid;
    font-size: 2rem;
    color: #7f7f7f;
    font-weight: bold;
    margin: 1rem 2rem 1rem 2rem;
    padding: 10px;
    border-radius: 5%;
}

.registro:hover {
    background-color: var(--secundario);
}
/*Cuerpo*/

.foto-perfil {
    border-radius: 5%;
    max-width: 30%;
    margin: 1rem 1rem;
}

.contenedor-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    width: 100%;
}

.contenedor-secundario {
    display: flex;
    align-items: flex-start;
    
    font-size: 2.2rem;
}

.area {
    margin: 1rem 2rem;
    width: 25rem;
    height: 5rem;
    background-color: var(--secundario);
    border: none;
    border-radius: 5%;
}

.check {
    margin-left: 1.5rem;
    font-weight: normal;
}

.datos {
    display: flex;
    pad: 0rem 1rem;
    align-items: center;
    font-size: 2rem;
    width: 100%;
}

.datos-input {
    margin: 1rem 2rem;
    width: 25rem;
    height: 5rem;
    background-color: var(--secundario);
    border: none;
    border-radius: 5%;
}

.separacion {
    margin: 0rem 10rem;
}
